.productsGrid {
  padding-top: 30px;
}

.needPadding {
  padding-bottom: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid3 {
  --card-aspect-ratio: 3 / 3.6;

  grid-template-columns: repeat(3, 1fr);

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid4 {
  --card-aspect-ratio: 3 / 4;

  grid-template-columns: repeat(4, 1fr);
}

.grid8 {
  --card-aspect-ratio: 3 / 10;

  grid-template-columns: repeat(8, 1fr);
}

/* избранное */
.favorites {
  align-items: start;
  padding-bottom: 60px;
}

.message {
  padding: 2rem 0;
  font-size: 1rem;
  text-align: center;
  color: var(--muted-foreground);
}

.loadingMore {
  padding: 1rem;
  text-align: center;
  color: var(--muted-foreground);
}
