body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-black);
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

main {
  flex: 1;
}

main:has([class*='hero']) {
  max-width: none;
  padding: 0;
}

button {
  padding: 0;
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}

h2 {
  font-size: 32px;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(100%) !important;
}
