body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-black);
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

button {
  padding: 0;
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}

h2 {
  font-size: rem(32);
}

.visually-hidden {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;

  white-space: nowrap !important;

  border: 0 !important;

  clip: rect(0 0 0 0) !important;
  clip-path: inset(100%) !important;
}
