.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: fluid(40, 10);
}

.hide {
  display: none;
}

.contentDVH {
  @include flex-center;

  min-height: 70dvh;
}
