.loaderWrapper {
  &.default {
    @include flex-center;

    height: 200px;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
  }

  &.code {
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
  }

  /* Варианты с паддингами */
  &.withPadding {
    padding: 0;
  }

  &.withoutPadding {
    padding-bottom: 20px;
  }
}

.loader {
  font-size: 18px;
  text-transform: uppercase;

  &::after {
    content: '';
    animation: dots 1s steps(3, end) infinite;
  }

  &.code::after {
    content: '|';
    display: inline-block;
    width: 1ch;
    animation: caret 0.5s infinite;
  }
}

/* Анимация точек */
@keyframes dots {
  0% {
    content: '';
  }

  33% {
    content: '.';
  }

  66% {
    content: '..';
  }

  100% {
    content: '...';
  }
}

/* Анимация курсора */
@keyframes caret {
  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}
