.loaderWrapper {
  @include flex-center;

  height: 200px;
  text-align: center;
}

// Variants
// With Padding
.withPadding {
  padding: 30px 20px;
}

// Without Padding
.withoutPadding {
  padding-bottom: 20px;
}

.loader {
  font-size: 18px;
  text-transform: uppercase;

  &::after {
    content: '';
    animation: dots 1s steps(3, end) infinite;
  }
}

@keyframes dots {
  0% {
    content: '';
  }

  33% {
    content: '.';
  }

  66% {
    content: '..';
  }

  100% {
    content: '...';
  }
}
