.filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.filters {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.viewControls {
  display: flex;
  column-gap: 10px;
}
