.filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}

.zaglushka {
  font-size: 20px;
  font-weight: 400;
}

.filters {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.viewControls {
  display: flex;
  column-gap: 10px;
}
