.hero {
  position: relative;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
  margin-top: -90px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/main.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
