.footer {
  padding-block: 60px;
  color: var(--color-white);
  background-color: var(--color-black);

  @include mobile {
    padding-block: 40px;
  }
}

.inner {
  padding-inline: 20px;
}

// CTA
.top {
  @include flex-center;

  flex-direction: column;
  row-gap: 20px;
}

.title {
  font-size: fluid(36, 30);
  text-align: center;
}

.description {
  color: var(--color-light-gray);
}

.tgButton {
  display: flex;
  column-gap: 5px;
}

// Main
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  width: 100%;
  margin-top: 100px;
  padding-block: 50px;
  border-block: 1px solid #404040;

  @include mobile {
    row-gap: 30px;
    margin-top: 60px;
    padding-block: 30px;
  }
}

// Лого
.logo {
  width: 180px;

  @include mobile {
    width: 120px;
  }
}

// Меню
.menus {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;

  @include mobile {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.menu {
  @include flex-center;

  flex-direction: column;
  row-gap: 20px;
  width: 350px;
  max-width: 100%;
}

.menuTitle {
  font-size: 18px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
}

.item {
  font-size: 15px;
  text-decoration: none;
  color: var(--color-light-gray);
  transition-duration: var(--transition-duration);

  @include hover {
    color: var(--color-green);
  }
}

.contacts {
  @include flex-center;

  flex-direction: column;
  row-gap: 20px;
  width: 350px;

  @include mobile {
    width: auto;
  }
}

.email {
  text-decoration: underline;
  transition-duration: var(--transition-duration);

  @include hover {
    color: var(--color-green);
  }

  @include mobile {
    font-size: 14px;
  }
}

.tgButton {
  font-size: 15px;
}

// Копирайт
.bottom {
  padding-block: 20px;
  font-size: 15px;
}

.copyright {
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    text-align: center;
  }
}
