.footer {
  padding-block: 60px;
  color: var(--color-white);
  background-color: var(--color-black);
}

.inner {
  padding-inline: 20px;
}

// CTA
.top {
  @include flex-center;

  flex-direction: column;
  row-gap: 20px;
}

.title {
  font-size: fluid(36, 30);
  text-align: center;
}

.description {
  color: var(--color-light-gray);
}

.tgButton {
  display: flex;
  column-gap: 5px;
}

// Main
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  width: 100%;
  margin-top: 100px;
  padding-block: 50px;
  border-block: 1px solid #404040;
}

// Лого
.logo {
  width: 180px;
}

// Менюшки
.menus {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.menu {
  @include flex-center;

  flex-direction: column;
  row-gap: 20px;
  width: 350px;
  max-width: 100%;
}

.menuTitle {
  font-size: 18px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
}

.item {
  font-size: 15px;
  text-decoration: none;
  color: var(--color-light-gray);
  transition-duration: var(--transition-duration);

  &:hover {
    color: var(--color-green);
  }
}

.contacts {
  @include flex-center;

  flex-direction: column;
  row-gap: 20px;
  width: 350px;
}

.email {
  text-decoration: underline;
  transition-duration: var(--transition-duration);

  &:hover {
    color: var(--color-green);
  }
}

.tgButton {
  font-size: 15px;
}

// Копирайт
.bottom {
  padding-block: 20px;
  font-size: 15px;
}

.copyright {
  display: flex;
  justify-content: space-between;
}
