.button {
  @include flex-center(true);

  padding: 10px 20px;
  font-size: fluid(18, 14);
  font-weight: 400;
  text-transform: uppercase;
  border: var(--small-gray-border);
  transition-duration: var(--transition-duration);
}

// size
.sm {
  font-size: 14px;
}

.md {
  font-size: fluid(18, 16);
}

.lg {
  min-width: 300px;
  height: 48px;
}

// Variants
.white {
  color: var(--color-black);
  background-color: var(--color-white);

  @include hover {
    color: var(--color-white);
    background-color: var(--color-black);
    border-color: var(--color-black);
  }
}

.black {
  color: var(--color-white);
  background-color: var(--color-black);
  border: none;

  @include hover {
    background-color: var(--color-dark-gray-2);
  }
}

.green {
  color: var(--color-black);
  background-color: var(--color-green);
  border: none;

  @include hover {
    background-color: var(--color-dark-green);
  }
}

.tsgreen {
  text-transform: none;
  color: var(--color-white);
  background-color: transparent;
  border-color: var(--color-green);

  @include hover {
    color: var(--color-black);
    background-color: var(--color-green);
  }
}

// Full width
.fullWidth {
  width: 100%;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
