.button {
  @include flex-center(true);

  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border: var(--small-gray-border);
  transition-duration: var(--transition-duration);
}

// Size
.sm {
  min-width: 100px;
  height: 38px;
  padding: 11px;
  font-size: 14px;
}

.md {
  min-width: 180px;
  height: 48px;
  padding: 16px;
}

.lg {
  min-width: 300px;
  height: 48px;
}

// Variants
.white {
  color: var(--color-black);
  background-color: var(--color-white);

  &:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    border-color: var(--color-black);
  }
}

.black {
  color: var(--color-white);
  background-color: var(--color-black);
  border: none;

  &:hover {
    background-color: var(--color-dark-gray-2);
  }
}

.green {
  color: var(--color-black);
  background-color: var(--color-green);
  border: none;

  &:hover {
    background-color: var(--color-dark-green);
  }
}

.tsgreen {
  text-transform: none;
  color: var(--color-white);
  background-color: transparent;
  border-color: var(--color-green);

  &:hover {
    color: var(--color-black);
    background-color: var(--color-green);
  }
}

// Full width

.fullWidth {
  width: 100%;
}
