.filterDrawer {
  @include hide;

  position: fixed;
  z-index: 3000;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;

  &.isOpen {
    @include show;
  }
}

.overlay {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.panel {
  display: flex;
  flex-direction: column;
  width: 460px;
  max-width: 100%;
  height: 100vh;
  padding: 32px 20px;
  background-color: var(--color-white);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.title {
  font-size: 24px;
  font-weight: 400;
}

.close {
  line-height: 0;

  &:hover {
    color: var(--color-green);
  }
}

.body {
  flex: 1;
  border-block: var(--small-gray-border);
}

.filters {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-block: 20px;
}

.subtitle {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
  border: none;

  &.product {
    padding-bottom: 20px;
  }
}

// Радиокнопки
.legend {
  @include visually-hidden;
}

.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}

.optionBox {
  @include flex-center(true);

  column-gap: 5px;
  min-width: 100px;
  height: 38px;
  padding: 11px;
  font-size: 14px;
  font-weight: 400;
  border: var(--small-gray-border);
  transition-duration: var(--transition-duration);
}

// Квадрат превью цвета
.colorPreview {
  display: inline-block;
  width: 35px;
  height: 20px;
}

// Стили кнопок Размеров
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}

.sizeBox {
  @include square(50px);
  @include flex-center(inline);

  border: 1px solid var(--color-black);
  transition-duration: var(--transition-duration);
}

// АНИМАЦИИ
// CHECKED СОСТОЯНИЕ ЧЕКБОКСА И РАДИОКНОПКИ
.radio:checked + .optionBox,
.checkbox:checked + .sizeBox {
  color: var(--color-white);
  background-color: var(--color-dark-gray);
}

// HOVER ЧЕКБОСА И РАДИОКНОПКИ
.sizeBox:hover,
.optionBox:hover {
  color: var(--color-white);
  background-color: var(--color-dark-gray);
}

// Низ Drawer'а
.footer {
  display: flex;
  column-gap: 10px;
  padding-top: 40px;
}
