.filterDrawer {
  position: fixed;
  z-index: 3000;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.overlay {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.panel {
  display: flex;
  flex-direction: column;
  width: 460px;
  max-width: 100%;
  height: 100dvh;
  padding: 30px 20px;
  background-color: var(--color-white);

  @include mobile {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.title {
  font-size: fluid(24, 20);
  font-weight: 400;
}

.close {
  line-height: 0;

  &:hover {
    color: var(--color-green);
  }
}

.body {
  flex: 1;
  overflow-y: auto;
  border-block: var(--small-gray-border);
}

.footer {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  padding-top: 40px;

  @include mobile {
    flex-direction: column-reverse;
    row-gap: 10px;
    padding-top: 20px;
  }
}
