.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(40);
  padding-top: rem(40);
  padding-bottom: rem(26);
}

.gallery {
  display: flex;
  gap: rem(5);
}

.thumbs {
  display: flex;
  flex-direction: column;
  gap: rem(5);
  width: rem(50);
  cursor: pointer;
}

.mainImage {
  max-width: rem(700);
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: rem(20);
}

.info > *:not(:last-child) {
  border-bottom: var(--small-gray-border);
  padding-bottom: rem(10);
}

.productHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  margin: 0;
  font-weight: 400;
  font-size: rem(26);
  text-align: right;
}

.price {
  font-size: rem(24);
  text-align: right;
}

.sizesBlock {
  display: flex;
  flex-direction: column;
  row-gap: rem(30);
}

.sizeTitle {
  font-size: rem(20);
  font-weight: bold;
}

.promo {
  display: flex;
  align-items: center;
  padding: rem(5);
  width: 280px;
  height: 30px;
  column-gap: rem(10);
  font-size: rem(16);
  background-color: var(--color-green);
}

.telegramLink {
}
