.sizeBoxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 20px;
}

.skeletonMainImage {
  display: block !important;
  aspect-ratio: 810 / 1080 !important;
  width: 100% !important;
  height: auto !important;
}
