.productDetails {
  padding-top: 40px;
  padding-bottom: 60px;
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  min-height: 400px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: var(--small-gray-border);
}

.name {
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  text-align: right;
}

.price {
  padding-bottom: 10px;
  font-size: 24px;
  text-align: right;
  border-bottom: var(--small-gray-border);
}

.sizeTitle {
  font-size: 20px;
  font-weight: bold;
}

.accordion {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.toggle {
  display: none;
}

.trigger {
  display: inline-block;
  width: fit-content;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-black);
  border-bottom: var(--small-gray-border);
  cursor: pointer;
  user-select: none;

  @include hover {
    border-color: var(--color-black);
  }
}

.description {
  @include hide;

  padding-top: 10px;
  font-size: 16px;
}

.toggle:checked ~ .description {
  @include show;
}
