.productDetails {
  padding-top: 40px;
  padding-bottom: 60px;
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.gallery {
  display: flex;
  gap: 5px;
}

.thumbs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50px;
  cursor: pointer;
}

.mainImage {
  max-width: 700px;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.info > *:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: var(--small-gray-border);
}

.productHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  text-align: right;
}

.price {
  font-size: 24px;
  text-align: right;
}

.sizesBlock {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.sizeTitle {
  font-size: 20px;
  font-weight: bold;
}

.promo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 280px;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  background-color: var(--color-green);
}
