.promo {
  overflow: hidden;
  white-space: nowrap;
}

.inner {
  display: inline-block;
  animation: slide 20s linear infinite;
}

.text {
  font-size: 16px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

// Padding
.sm {
  padding-inline: 10px;
}

.lg {
  padding-inline: 100px;
}

// Variants
.black {
  color: var(--color-white);
  background-color: var(--color-black);
}

.green {
  color: var(--color-black);
  background-color: var(--color-green);
}
