.searchDropdown {
  @include flex-center;

  position: absolute;
  z-index: 100;
  right: 0;
  left: 0;
  width: 100%;
  height: 130px;
  margin-inline: auto;
  padding-top: 24px;
  background: var(--color-white);
  border-bottom: var(--small-smoke-border);
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0.5;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.searchContainer {
  @include flex-center;

  column-gap: 30px;
}
