.title {
  @include flex-center;

  font-weight: 300;
  font-style: italic;
  letter-spacing: -5px;
  text-transform: uppercase;
  color: var(--color-black);
}

// Padding
.withoutPadding {
  padding: 0;
}

.withPadding {
  padding-block: 100px;
}

// Size
.sm {
  font-size: 40px;
  letter-spacing: -2px;
}

.lg {
  font-size: 50px;
}

.glitch {
  background-color: var(--color-green);
}

.glitch,
.inner {
  animation: glitch 2s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }

  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }

  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.glitch::before,
.glitch::after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch::before {
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  animation: glitch-top 1s linear infinite;
}

@keyframes glitch-top {
  2%,
  64% {
    transform: translate(2px, -2px);
  }

  4%,
  60% {
    transform: translate(-2px, 2px);
  }

  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.glitch::after {
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  animation: glitch-bottom 1.5s linear infinite;
}

@keyframes glitch-bottom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }

  4%,
  60% {
    transform: translate(-2px, 0);
  }

  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
