.productsGrid {
  padding-block: rem(26);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid3 {
  grid-template-columns: repeat(3, 1fr);
  --card-aspect-ratio: 3 / 3.6;
}

.grid4 {
  grid-template-columns: repeat(4, 1fr);
  --card-aspect-ratio: 3 / 4;
}

.grid8 {
  grid-template-columns: repeat(8, 1fr);
  --card-aspect-ratio: 3 / 10;
}

/* избранное */
.favorites {
  align-items: start;
}

.message {
  padding: 2rem 0;
  text-align: center;
  color: var(--muted-foreground);
  font-size: 1rem;
}

//.dense {
//  grid-template-columns: repeat(3, 1fr);
//}
//
//.gridView {
//  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
//}
//
//.spacious {
//  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//}
