.IconButton {
  @include flex-center;

  line-height: 0;
}

// Variants
// default
.default {
  color: var(--color-black);

  @include hover {
    color: var(--color-green);
  }
}

// header
.header {
  min-width: 48px;
  height: 48px;
  padding: 12px;
  color: var(--header-text-color);

  @include hover(false) {
    color: var(--header-hover-color);
    background-color: var(--header-hover-bg);
  }

  &.active {
    color: var(--color-green);
    background-color: var(--color-black);
  }
}

// card
.card svg {
  color: var(--color-light-gray);
  transition-duration: var(--transition-duration);
  fill: transparent;
  stroke: var(--color-light-gray);

  @include hover {
    transform: scale(1.04);
    fill: var(--color-light-gray);
  }
}

// grid
.grid svg {
  color: var(--color-light-gray);
  fill: transparent;
  stroke: var(--color-light-gray);
}

.grid.active svg {
  color: var(--color-black);
  stroke: var(--color-black);
}
