.IconButton {
  @include flex-center;

  line-height: 0;
}

// Variants
// header icons
.header {
  min-width: 48px;
  height: 48px;
  padding: 12px;
  color: var(--color-black);
  border-left: var(--small-gray-border);

  &:hover {
    color: var(--color-white);
    background-color: var(--color-black);
  }
}

// card icons
.card svg {
  color: var(--color-light-gray);
  transition-duration: var(--transition-duration);
  fill: transparent;
  stroke: var(--color-light-gray);

  &:hover {
    transform: scale(1.04);
    fill: var(--color-light-gray);
  }
}

// grid view controller icons
.grid svg {
  color: var(--color-light-gray);
  fill: transparent;
  stroke: var(--color-light-gray);
}

.grid.active svg {
  color: var(--color-black);
  stroke: var(--color-black);
}
