@keyframes pulse {
  0%,
  100% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.2;
  }
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

// Галерея
.thumb {
  aspect-ratio: 1;
  width: 50px;
  height: 66px;
  background-color: var(--color-dark-gray-3);
  animation: pulse 1.5s ease-in-out infinite;
}

.mainImage {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
  width: 700px;
  max-width: 700px;
  height: 933px;
  background-color: var(--color-dark-gray-3);
  animation: pulse 1.5s ease-in-out infinite;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 8px;
    background: linear-gradient(
      90deg,
      transparent,
      var(--color-green),
      transparent
    );
    animation: loading 1.5s ease-in-out infinite;
  }
}

// Шапка
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-bottom: 10px;
  border-bottom: var(--small-gray-border);
}

.name {
  flex: 1;
  height: 26px;
  margin: 0;
  background-color: var(--color-dark-gray-3);
  animation: pulse 1.5s ease-in-out infinite;
}

.favoriteButton {
  @include square(26px);

  flex-shrink: 0;
  background-color: var(--color-dark-gray-3);
  animation: pulse 1.5s ease-in-out infinite;
}

// Цена
.priceBlock {
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
  border-bottom: var(--small-gray-border);
}

.price {
  width: 40%;
  height: 24px;
  background-color: var(--color-dark-gray-3);
  animation: pulse 1.5s ease-in-out infinite;
}

// Размеры
.sizesBlock {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-bottom: 20px;
  border-bottom: var(--small-gray-border);
}

.sizeLabel {
  width: 80px;
  height: 20px;
  background-color: var(--color-dark-gray-3);
  animation: pulse 1.5s ease-in-out infinite;
}

.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.size {
  @include square(36px);

  background-color: var(--color-dark-gray-3);
  animation: pulse 1.5s ease-in-out infinite;
}

// Сток
.stock {
  width: 60%;
  height: 30px;
  background-color: var(--color-dark-gray-3);
  animation: pulse 1.5s ease-in-out infinite;
}

// Кнопки
.button {
  width: 100%;
  height: 47px;
  background-color: var(--color-dark-gray-3);
  animation: pulse 1.5s ease-in-out infinite;
}
