@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.2;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.skeleton {
  display: grid;
  padding-top: 30px;
  padding-bottom: 60px;

  &.catalog {
    --card-aspect-ratio: 3 / 3.6;

    grid-template-columns: repeat(3, 1fr);
  }

  &.favorites {
    --card-aspect-ratio: 3 / 4.4;

    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: -1px 0 0 -1px;
  border: var(--product-card-border);
  border-color: var(--color-gray-alt);
}

.image {
  position: relative;
  overflow: hidden;
  aspect-ratio: var(--card-aspect-ratio);
  background-color: var(--color-black);
  animation: pulse 1.5s ease-in-out infinite;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 8px;
    background: linear-gradient(
      90deg,
      transparent,
      var(--color-green),
      transparent
    );
    animation: loading 1.5s ease-in-out infinite;
  }
}

.actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding-top: 5px;
}

.action {
  @include square(24px);

  background-color: var(--color-dark-gray-3);
  animation: pulse 1.5s ease-in-out infinite;
}

.info {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5px;
  padding: 10px;
}

.text {
  display: inline-block;
  width: 200px;
  height: 20px;
  padding: 2px;
  background-color: var(--color-dark-gray-3);
  animation: pulse 1.5s ease-in-out infinite;
}
