.drawer {
  @include hide;

  display: flex;
  position: fixed;
  inset: 0;
  z-index: 3000;
  align-items: stretch;
  justify-content: flex-end;

  &.isOpen {
    @include show;
  }
}

.overlay {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.panel {
  display: flex;
  flex-direction: column;
  width: 460px;
  max-width: 100%;
  height: 100vh;
  padding: rem(32) rem(20);
  background-color: var(--color-white);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: rem(12);
}

.title {
  font-weight: 400;
  font-size: rem(24);
}

.close {
  line-height: 0;
  &:hover {
    color: var(--color-green);
  }
}

.body {
  flex: 1;
  border-block: var(--small-gray-border);
}

.empty {
  padding-top: rem(20);
  display: flex;
  flex-direction: column;
  row-gap: rem(5);
}

.emptyTitle {
  font-size: rem(22);
  font-weight: 500;
}

.footer {
  padding-top: rem(40);
  display: flex;
  flex-direction: column;
  row-gap: rem(20);
}

.promo {
  display: flex;
  align-items: center;
  padding: rem(5);
  width: 420px;
  height: 36px;
  column-gap: rem(10);
  font-size: rem(16);
  background-color: var(--color-green);
}

.summary {
  font-weight: 700;
  font-size: rem(20);
}

.actions {
  display: flex;
  justify-content: center;
  column-gap: rem(10);
}
