.cartDrawer {
  position: fixed;
  z-index: 3000;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;

  &.isOpen {
    @include show;
  }
}

.overlay {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.panel {
  display: flex;
  flex-direction: column;
  width: 460px;
  max-width: 100%;
  height: 100vh;
  padding: 32px 20px;
  background-color: var(--color-white);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.title {
  font-size: fluid(24, 20);
  font-weight: 400;
}

.close {
  line-height: 0;

  &:hover {
    color: var(--color-green);
  }
}

.body {
  flex: 1;
  overflow-y: auto;
  border-block: var(--small-gray-border);
}

.empty {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding-top: 20px;
}

.emptyTitle {
  font-size: 22px;
  font-weight: 500;
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 40px;
}

.promo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 420px;
  height: 36px;
  padding: 5px;
  font-size: 16px;
  background-color: var(--color-green);
}

.summary {
  display: flex;
  column-gap: 5px;
  font-size: 20px;
  font-weight: 700;

  @include mobile {
    font-size: 17px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }
}
