// OVERLAY
.overlay {
  position: fixed;
  z-index: 998;
  inset: 0;
}

// MENU
.menu {
  position: absolute;
  z-index: 999;
  background-color: var(--color-black);
  transform: translateX(-1px);
}

.menuContent {
  display: flex;
  flex-direction: column;
}

// МОБИЛЬНЫЙ КОНТЕНТ
.mobileContent {
  display: none;

  @include mobile {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-white);
  }
}

// ДЕСКТОПНЫЙ КОНТЕНТ
.desktopContent {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-white);

  @include mobile {
    display: none;
  }
}

.menuLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-white);
  transition-duration: var(--transition-duration);

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-white);
  }

  &::before {
    content: '>>>';
    padding-right: 5px;
  }

  @include hover {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}
