// Variants
.default {
  --header-text-color: var(--color-black);
  --header-hover-bg: var(--color-black);
  --header-hover-color: var(--color-white);
}

.light {
  --header-text-color: var(--color-white);
  --header-hover-bg: var(--color-white);
  --header-hover-color: var(--color-black);
}

// Layout
.header {
  position: relative;
  padding-top: 40px;
  background: transparent;
}

.inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--small-gray-border);
}

// Левая секция
.left {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navigation {
  display: flex;
  height: 48px;
  border-left: var(--small-gray-border);

  & > * {
    border-right: var(--small-gray-border);
  }
}

.link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-inline: 16px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--header-text-color);
  transition: color 0.2s ease;

  @include hover {
    color: var(--header-hover-color);
    background-color: var(--header-hover-bg);
  }
}

// Центральная секция
.logo {
  @include flex-center;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 180px;
  transform: translate(-50%, -50%);

  .light & {
    filter: brightness(0) invert(1);
  }

  @include mobile {
    width: 110px;
  }
}

// Правая секция
.right {
  position: relative;
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    border-right: var(--small-gray-border);
  }

  & > *:first-child {
    border-left: var(--small-gray-border);
  }
}

// Кнопки
.mobileSearchButton {
  display: none;
}

.userActive {
  color: var(--color-green);
  background-color: var(--color-black);
}

// Мобильные устройства
@include mobile {
  .navigation,
  .favoritesButton,
  .searchButton {
    display: none;
  }

  .mobileSearchButton {
    display: block;
    border-inline: var(--small-gray-border);
  }

  .right > *:first-child {
    border-left: none;
  }

  .cartButton {
    border-left: var(--small-gray-border);
  }
}
