.header {
  position: relative;
  padding-top: 40px;
  background: var(--color-white);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--small-gray-border);
}

/* ЛЕВАЯ ЧАСТЬ */
.left {
  display: flex;
  justify-content: start;
  align-items: center;
  border-right: var(--small-gray-border);
}

.navigation {
  display: flex;
  height: 48px;
}

.navigationLink {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-inline: 16px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-black);
  border-left: var(--small-gray-border);
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-black);
  }
}

/* ЛОГО */
.logo {
  @include flex-center;

  position: absolute;
  z-index: 1;
  top: 70%;
  left: 50%;
  width: 180px;
  opacity: 1;
  transform: translate(-50%, -50%);
}

/* ПРАВАЯ ЧАСТЬ */
.actions {
  position: relative;
  display: flex;
  align-items: center;
}

.actions button:first-child {
  border-left: var(--small-gray-border);
}

.actions button + button {
  border-left: var(--small-gray-border);
}

.userActive {
  color: var(--color-green);
  background-color: var(--color-black);
}
