.header {
  position: relative;
  padding-top: fluid(40, 20);
  background: transparent;

  @include mobile {
  }
}

// Variants
.default {
  --header-text-color: var(--color-black);
  --header-hover-bg: var(--color-black);
  --header-hover-color: var(--color-white);
}

.light {
  --header-text-color: var(--color-white);
  --header-hover-bg: var(--color-white);
  --header-hover-color: var(--color-black);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--small-gray-border);
}

/* ЛЕВАЯ ЧАСТЬ */
.left {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navigation {
  display: flex;
  height: 48px;
}

.link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-inline: 16px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--header-text-color);
  transition: color 0.2s ease;

  @include hover {
    color: var(--header-hover-color);
    background-color: var(--header-hover-bg);
  }

  @include mobile {
    @include hide;
  }
}

/* ЛОГО */
.logo {
  @include flex-center;

  position: absolute;
  z-index: 1;
  top: 70%;
  left: 50%;
  width: 180px;
  opacity: 1;
  transform: translate(-50%, -50%);

  .light & {
    filter: brightness(0) invert(1);
  }

  @include mobile {
    width: 100px;
  }
}

/* ПРАВАЯ ЧАСТЬ */
.right {
  position: relative;
  display: flex;
  align-items: center;
}

.userActive {
  color: var(--color-green);
  background-color: var(--color-black);
}

// БОРДЕРЫ
.right > *:not(:last-child) {
  border-right: var(--small-gray-border);
}

.right > *:first-child {
  border-left: var(--small-gray-border);
}

.navigation > * {
  border-right: var(--small-gray-border);
}
