.promoMini {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 5px;
  font-size: 16px;
  background-color: var(--color-green);
}

.sm {
  width: 280px;
  height: 30px;
}

.md {
  width: 420px;
  height: 36px;
}

.text {
  margin: 0;
  padding: 0;
}
