/* КАРТОЧКА */
.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: -1px 0 0 -1px;
  border: var(--product-card-border);
  cursor: pointer;

  @include hover(false) {
    .front {
      opacity: 0;
    }

    .back {
      opacity: 1;
    }

    .price,
    .name {
      color: var(--color-green);
      background: black;
    }
  }
}

/* КАРТИНКА ТОВАРА */
.imageWrapper {
  position: relative;
  overflow: hidden;
  aspect-ratio: var(--card-aspect-ratio, 3 / 4.4);
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition-duration: var(--transition-duration-product-images);
}

.front {
  opacity: 1;
}

.back {
  opacity: 0;
}

/* КНОПКИ ИЗБРАННОЕ/КОРЗИНА */
.actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  color: var(--color-light-gray);
}

.icon {
  @include square(26px);

  @include mobile {
    @include square(24px);
  }
}

/* ИНФОРМАЦИЯ О ТОВАРЕ */
.info {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5px;
  width: 100%;
  padding: 10px;
}

.name,
.price {
  display: inline-block;
  padding: 2px;
  font-size: 16px;
  font-weight: 400;
  background: var(--color-white);
  transition-duration: 0.2s;

  @include mobile {
    padding: 1px;
    font-size: 14px;
  }
}
