.checkout {
  padding: 40px 0;

  @include mobile {
    padding: 30px 0;
  }
}

.pageTitle {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;

  @include mobile {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 30px;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;

    > * {
      width: 100%;
    }
  }
}
