// Variant drawer
.drawer {
}

.item {
  display: flex;
  column-gap: 12px;
  padding-block: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.item:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 20px;
}

.imageWrapper {
  @include square(90px);

  @include mobile {
    @include square(60px);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: fluid(16, 14);
}

.price {
  font-size: fluid(16, 14);
  white-space: nowrap;
}

.size {
  font-size: 12px;
  color: var(--color-dark-gray-3);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}

.quantity {
  display: flex;
  border: var(--small-smoke-border);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  font-size: fluid(16, 14);
  line-height: 1;

  &:disabled {
    @include disabled;

    pointer-events: none;
  }

  &:nth-child(odd) {
    @include hover {
      color: var(--color-white);
      background-color: var(--color-black);
    }
  }

  &:not(:last-child) {
    border-right: var(--small-smoke-border);
  }
}

// Variant checkout
.checkout {
  .name {
    font-size: 12px;
  }

  .price {
    font-size: 14px;
    white-space: nowrap;
  }

  .button {
    font-size: 14px;
  }
}
