.title {
  padding-block: 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.inputWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  padding-bottom: 8px;
}

.input {
  height: 48px;
  padding: 10px;
  font-size: 16px;
  color: var(--color-black);
  background-color: var(--color-white);
  border: 1px solid var(--color-light-gray);
  border-radius: 0;
  outline: none;
  box-shadow: none;
  transition: border-color var(--transition-duration) ease;

  &::placeholder {
    color: var(--color-gray-alt);
  }

  &:focus {
    border-color: var(--color-black);
    outline: none;
  }

  &::-webkit-search-cancel-button {
    cursor: pointer;
  }
}

.button {
  height: 48px;
}

.success {
  font-size: 14px;
  font-weight: 400;
}

.error {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-red);
}
