/* КАРТОЧКА */
.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: -1px 0 0 -1px;
  border: var(--product-card-border);
}

/* КАРТИНКА ТОВАРА */
.imageWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 4.2;
}

.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition-duration: var(--transition-duration-product-images);
}

.front {
  opacity: 1;
}

.back {
  opacity: 0;
}

.card:hover .front {
  opacity: 0;
}

.card:hover .back {
  opacity: 1;
}

/* КНОПКИ ИЗБРАННОЕ/КОРЗИНА */
.actions {
  position: absolute;
  top: rem(10);
  right: rem(10);
  display: flex;
  flex-direction: column;
  row-gap: rem(5);
  color: var(--color-light-gray);
}

/* ИНФОРМАЦИЯ О ТОВАРЕ */
.info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: rem(10);

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: rem(5);

  z-index: 5;
}

.name,
.price {
  display: inline-block;
  background: var(--color-white);

  padding: 2px;
  font-size: rem(16);
  font-weight: 400;
  transition-duration: 0.2s;
}

.card:hover .name,
.card:hover .price {
  background: black;
  color: var(--color-green);
}
