.fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 20px;
  border: none;
}

.legend {
  padding: 0 0 30px;
  font-size: 20px;
  font-weight: bold;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;

  &:checked + .sizeBox {
    color: var(--color-white);
    background-color: var(--color-dark-gray);
  }
}

.sizeBox {
  @include square(36px);
  @include flex-center(true);

  font-size: 13px;
  border: 1px solid var(--color-gray-alt);
  transition-duration: var(--transition-duration);

  &:hover {
    color: var(--color-white);
    background-color: var(--color-dark-gray);
  }
}
