.gallery {
  display: flex;
  gap: 5px;
  width: 100%;
}

.thumbs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50px;
  cursor: pointer;
}

.main {
  flex: 1;
  position: relative;
  width: 100%;
}

.indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: none;
  justify-content: center;
  gap: 6px;
  height: 6px;
  margin-top: 12px;
  transform: translateX(-50%);
}

.indicator {
  width: 6px;
  height: 6px;
  background-color: var(--color-white);
}

.active {
  background-color: var(--color-black);
  opacity: 1;
}

@include mobile {
  .gallery {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .thumbs {
    display: none;
  }

  .main {
    overflow: hidden;
    width: 100%;
    height: 100%;
    touch-action: pan-y;
  }

  .mainImage {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  .indicators {
    display: flex;
  }
}
